# Python
backend_venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesiss

# Database
*.db
*.sqlite3

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Node (Frontend specific, but good to have in root if mixed)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Build
dist/
build/
